<div class="comment-section">
    <div class="comment-creation">
        <img [src]="currentUser.avatarUrl ? currentUser.avatarUrl : 'assets/user-placeholder.png'" class="user-img"
            alt="avatar">
        <div class="comment-input">
            <textarea [appAutoHeight]="10" class="comment-area" name="comment" rows="1"
                placeholder="Tweet your reply..." [(ngModel)]="commentText"></textarea>
            <i class="material-icons" (click)="imgInput.click()">image_search</i>
            <input #imgInput type="file" class="img-input" (change)="onFileSelected($event.target.files)"
                accept="image/*">
            <img alt="" [ngClass]="{'img-preview': !!selectedImg}" #imgPreviewElement>
        </div>
    </div>
    <hr>
    <div *ngFor="let comment of comments" class="comment">
        <img [src]="comment.createdBy.avatarUrl ? comment.createdBy.avatarUrl : 'assets/user-placeholder.png'"
            class="user-img" alt="avatar">
        <div class="comment-body">
            <div class="comment-content">
                <div class="comment-header">
                    <strong>{{ comment.createdBy.name }}</strong>{{ " " }}<span
                        class="comment-date">{{ comment.createdAt | date:'medium' }}</span>
                </div>
                <p>{{ comment.id }}</p>
                <p class="comment-text">{{ comment.text }}</p>
                <img *ngIf="comment.imgUrl" [src]="comment.imgUrl" alt="" class="img-preview">
            </div>
            <div class="comment-likes">
                <span [ngClass]="{danger: comment.isLikedByCurrentUser}">
                    <i class="material-icons">check</i> {{ comment.isLikedByCurrentUser ? 'Liked' : 'Like' }}
                </span>
                <span>- {{ comment.likeCount }} Likes</span>
            </div>
        </div>
    </div>
    <div *ngIf="comments.length && totalCount > comments.length" class="more-container">
        <button class="more-button" type="button" (click)="onLoadMore()">Load More</button>
    </div>
</div>