<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="settings">
                <div class="header">
                    <div class="cover-container">
                        <img class="cover" alt="" [src]="coverUrl" #coverImg>
                        <div *ngIf="!coverUrl" class="cover-placeholder">Cover not selected</div>
                        <i class="material-icons" (click)="coverFile.click()">image_search</i>
                    </div>
                    <div class="avatar-container">
                        <img class="avatar" alt="" [src]="avatarUrl" #avatarImg>
                        <i class="material-icons" (click)="avatarFile.click()">image_search</i>
                    </div>
                </div>
                <form [formGroup]="settingsForm" (ngSubmit)="onSave()">
                    <input #coverFile type="file" class="file" formControlName="cover" (change)="onCoverChange($event.target.files[0])">
                    <input #avatarFile type="file" class="file" formControlName="avatar" (change)="onAvatarChange($event.target.files[0])">

                    <div class="form-group">
                        <span class="material-icons form-icon">person</span>
                        <input class="name-input" type="text" formControlName="username" placeholder="My Name">
                        <div *ngIf="!settingsForm.get('username').valid && settingsForm.get('username').touched" class="error">Please enter a valid name</div>
                    </div>
                    
                    <div class="form-group">
                        <span class="material-icons form-icon">info</span>
                        <textarea appAutoHeight class="about-input" formControlName="about" placeholder="About me..." spellcheck="false" #aboutText></textarea>
                    </div>

                    <div class="buttons">
                        <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
                        {{ ' ' }}
                        <button class="btn btn-primary" type="submit" [disabled]="!settingsForm.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>