<div class="feed">
    <p *ngIf="!tweets.length" class="no-tweets">The feed is empty</p>
    <div *ngFor="let tweet of tweets" class="tweet-container">
        <app-tweet-details [feedKey]="feedKey" [tweet]="tweet"></app-tweet-details>
    </div>
    <button
        *ngIf="tweets.length && (totalCountForPaging > tweets.length || totalCountForLastId > tweets.length)" 
        class="load-more" 
        (click)="onLoadMore()" 
        type="button"
    >
    Load More (Total - {{useLastIdForPaging ? totalCountForLastId : totalCountForPaging}})
    </button>
</div>
