<div class="profile" *ngIf="user">
    <div class="cockpit">

        <div class="cover-container">
            <img *ngIf="user.profileCoverUrl" [src]="user.profileCoverUrl" alt="" class="cover">
        </div>

        <div class="container">
            <div class="header">
                <div class="avatar-container">
                    <img [src]="user.avatarUrl ? user.avatarUrl : 'assets/user-placeholder.png'" alt="" class="avatar">
                </div>
                <div class="info">
                    <div class="name">
                        <span class="name">{{user.name}}</span>
                        <div class="follow-links">
                            <div>
                                <strong>{{user.followeesCount}}</strong><button class="link-button" (click)="openModal('followees')">Following</button>
                            </div>
                            <div>
                                <strong>{{user.followersCount}}</strong><button class="link-button" (click)="openModal('followers')">Followers</button>
                            </div>
                        </div>               
                    </div>
                    <p class="about">
                        {{user.about}}
                    </p>
                </div>
                <div class="button-container" *ngIf="user.id !== currentUser.id">
                    <button *ngIf="user.isFolloweeOfCurrentUser" type="button" (click)="onUnfollow(user.id)">
                        <i class="material-icons">person_add_disabled</i> Unfollow
                    </button>
                    <button *ngIf="!user.isFolloweeOfCurrentUser" type="button" (click)="onFollow(user.id)">
                        <i class="material-icons">person_add</i> Follow
                    </button>
                </div>
            </div>
            
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="menu-container">
                            <app-sidemenu [items]="menuItems"></app-sidemenu>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <app-tweets-feed [feedKey]="feedKey" [param]="param"></app-tweets-feed>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal *ngIf="isModalDisplayed" [title]="modalTitle" (closeClick)="closeModal()">
    <div class="content">list of users here</div>
</app-modal>
