<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="tweet-creation-container">
                    <app-tweet-creation></app-tweet-creation>
                </div>
                <app-tweets-feed [feedKey]="feedKey" [param]="param" [useLastId]="true"></app-tweets-feed>
            </div>
            <div class="col-md-4">
                <div class="trends-container">
                    <app-trends></app-trends>
                </div>
                <div class="recommended-container">
                    <app-recommended-users></app-recommended-users>
                </div>
            </div>
        </div>
    </div>
</div>