<div class="users-list">
    <div class="user" *ngFor="let u of users">
        <p>ID - {{u.id}}</p>
        <app-media
            [imgUrl]="u.avatarUrl ? u.avatarUrl : 'assets/user-placeholder.png'"
            [width]="'50px'"
            [height]="'50px'"
            [header]="u.name"
            [text]="u.followersCount + ' followers'"
        >
        </app-media>
        <p *ngIf="u.about" class="about">
            {{u.about}}
        </p>
        <img *ngIf="u.profileCoverUrl" [src]="u.profileCoverUrl" alt="" class="cover">
    </div>
    <button *ngIf="totalCount > users.length" class="more" (click)="onLoadMore()">Load More (Total - {{totalCount}})</button>
</div>

