<div class="tweet-creation">
    <strong>Tweet something</strong>
    <hr>
    <div class="creation-info">
        <img [src]="currentUser.avatarUrl ? currentUser.avatarUrl : 'assets/user-placeholder.png'" alt="" class="user-img">
        <div class="creation-menu">
            <textarea [appAutoHeight]="20" class="tweet-text" placeholder="What's happening?" [(ngModel)]="tweetText"></textarea>
            <div class="tweet-settings">
                <div class="visibility-menu">
                    <i class="material-icons" (click)="imgInput.click()">image_search</i>
                    <app-dropdown #dropdown>
                        <ng-container button>
                            <span *ngIf="onlyFollowedCanReply"><i class="material-icons">supervisor_account</i> People you follow</span>
                            <span *ngIf="!onlyFollowedCanReply"><i class="material-icons">cloud_queue</i> Everyone</span>
                        </ng-container>
                        <ng-container content>
                            <ng-container *ngTemplateOutlet="tweetVisibility"></ng-container>
                        </ng-container>
                    </app-dropdown>
                </div>
                <button [disabled]="!tweetText || sending" [ngClass]="{disabled: !tweetText || sending}" type="button" (click)="onTweet()">Tweet</button>
            </div>
            <input #imgInput type="file" class="img-input" (change)="onFileSelected($event.target.files)" accept="image/*">
            <img alt="" class="img-preview" [ngClass]="{'mt-3': !!selectedImg}" #imgPreviewElement>
        </div>
    </div>
</div>

<ng-template #tweetVisibility>
    <div class="tweet-visibility">
        <strong>Who can reply?</strong>
        <p class="mb-0">Choose who can reply to this tweet</p>
        <div class="visibility-button" (click)="onVisibilityChanged(false); dropdown.toggle()">
            <i class="material-icons">cloud_queue</i>
            <span>Everyone</span>
        </div>
        <div class="visibility-button" (click)="onVisibilityChanged(true); dropdown.toggle()">
            <i class="material-icons">supervisor_account</i>
            <span>People you follow</span>
        </div>
    </div>
</ng-template>

