<div>
    <p *ngIf="tweet.originalTweet" class="retweeted">
        <i class="material-icons">autorenew</i> {{ tweet.createdBy.name }} Retweeted
    </p>
    <div class="tweet">
        <ng-container *ngIf="tweet.originalTweet || tweet as t">
            <app-media 
                [imgUrl]="t.createdBy.avatarUrl ? t.createdBy.avatarUrl : 'assets/user-placeholder.png'"
                [width]="'40px'" 
                [height]="'40px'" 
                [header]="t.createdBy.name" 
                [text]="t.createdAt | date:'medium'"
                [link]="'/profile' + '/' + t.createdBy.id"
            >
            </app-media>
            <p class="my-3">
               ID = {{ t.id }}
            </p>
            <p class="my-3">
                {{ t.text }}
            </p>
            <img *ngIf="t.imgUrl" [src]="t.imgUrl" alt="tweet image" class="tweet-img">
            <div class="info">
                <span class="mx-2">{{ t.likeCount }} Likes</span>
                <span class="mx-2">{{ t.commentCount }} Comments</span>
                <span class="mx-2">{{ t.retweetCount }} Retweets</span>
                <span class="mx-2">{{ t.bookmarkCount }} Saved</span>
            </div>
            <div class="tweet-menu">
                <button (click)="onSendComment()" [ngClass]="{disabled: isCommenting}">
                    <i class="material-icons">chat_bubble_outline</i>
                    <span class="menu-button-text">Comment</span>
                </button>
                <button (click)="onRetweet(t.id)"
                    [ngClass]="{success: t.isRetweetedByCurrentUser, disabled: isRetweeting}">
                    <i class="material-icons">autorenew</i>
                    <span class="menu-button-text">{{ t.isRetweetedByCurrentUser ? 'Retweeted' : 'Retweet' }}</span>
                </button>
                <button (click)="onLike(t.id)" [ngClass]="{danger: t.isLikedByCurrentUser, disabled: isLiking}">
                    <i class="material-icons">check</i>
                    <span class="menu-button-text">{{ t.isLikedByCurrentUser ? 'Liked' : 'Like' }}</span>
                </button>
                <button (click)="onBookmark(t.id)"
                    [ngClass]="{primary: t.isBookmarkedByCurrentUser, disabled: isSaving}">
                    <i class="material-icons">bookmark</i>
                    <span class="menu-button-text">{{ t.isBookmarkedByCurrentUser ? 'Saved' : 'Save' }}</span>
                </button>
            </div>
        </ng-container>
        <br>
        <app-tweet-comment-section [notifier]="notifier" [tweet]="tweet" [feedKey]="feedKey"></app-tweet-comment-section>
    </div>
</div>