<div *ngIf="tweet.originalTweet">
    <p class="retweeted">
        <i class="material-icons">autorenew</i> {{ tweet.createdBy.name }} Retweeted
    </p>
    <ng-container *ngTemplateOutlet="tweetTemplate; context: {$implicit: tweet.originalTweet}"></ng-container>
</div>

<div *ngIf="!tweet.originalTweet">
    <ng-container *ngTemplateOutlet="tweetTemplate; context: {$implicit: tweet}"></ng-container>
</div>

<ng-template #tweetTemplate let-tweet>
    <div class="tweet">
        <app-media 
            [imgUrl]="tweet.createdBy.avatarUrl ? tweet.createdBy.avatarUrl : 'assets/user-placeholder.png'"
            [width]="40"
            [height]="40"
            [header]="tweet.createdBy.name"
            [text]="tweet.createdAt | date:'medium'"
        >
        </app-media>
        <p class="my-3">
            {{ tweet.text }}
        </p>
        <img *ngIf="tweet.imgUrl" [src]="tweet.imgUrl" alt="tweet image" class="tweet-img">
        <div class="info">
            <span class="mx-2">{{ tweet.commentCount }} Comments</span>
            <span class="mx-2">{{ tweet.retweetCount }} Retweets</span>
            <span class="mx-2">{{ tweet.bookmarkCount }} Saved</span>
        </div>
        <div class="tweet-menu">
            <button (click)="onSendComment()"><i class="material-icons">chat_bubble_outline</i>Comment</button>
            <button (click)="onRetweet(tweet.id)" [ngClass]="{success: tweet.isRetweetedByCurrentUser}">
                <i class="material-icons">autorenew</i>
                {{ tweet.isRetweetedByCurrentUser ? 'Retweeted' : 'Retweet' }}
            </button>
            <button (click)="onLike(tweet.id)" [ngClass]="{danger: tweet.isLikedByCurrentUser}">
                <i class="material-icons">check</i>
                {{ tweet.isLikedByCurrentUser ? 'Liked' : 'Like' }}
            </button>
            <button (click)="onBookmark(tweet.id)" [ngClass]="{primary: tweet.isBookmarkedByCurrentUser}">
                <i class="material-icons">bookmark</i>
                {{ tweet.isBookmarkedByCurrentUser ? 'Saved' : 'Save' }}
            </button>
        </div>
        <br>
        <app-tweet-comment-section #commentSection [tweetId]="tweet.id"></app-tweet-comment-section>
    </div>
</ng-template>