<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="signin mt-4">
                <h5>LOGIN</h5>
                <form (keyup.enter)="onSubmit()">
                    <div class="form-group">
                        <i class="material-icons">alternate_email</i>
                        <input [(ngModel)]="email" type="text" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <i class="material-icons">lock</i>
                        <input [(ngModel)]="password" type="password" placeholder="Password" name="password">
                    </div>
                    <div class="text-center">
                        <button (click)="onSubmit()" [disabled]="!email || !password || isSubmitDisabled" type="button" class="btn btn-primary w-100">
                            SUBMIT
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                        <p class="text-muted mt-3 mb-1">Don't have an account? Register <a [routerLink]="['/signup']">here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>